#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!.gitignore
###########################################################################
##	DO NOT IGNORE THE FOLLOWING FILES
###########################################################################
!*.py

!data/
!data/**

!models/
!models/**

!cnn_core/
!cnn_core/**

###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

.DS_Store
**/.DS_Store

###########################################################################
## Generated HLS/Vivado outputs
###########################################################################
# Compiled binaries and build outputs
cnn_core/build/
cnn_core/*.o
cnn_core/*.a
cnn_core/*.so
cnn_core/*.exe

# Python
__pycache__/
*.pyc
*.pyo

# Xilinx / Vivado temp files
.Xil/
vivado.jou
vivado.log
vitis_hls.log

cnn_core_prj/.Xil/
cnn_core_prj/vivado.jou
cnn_core_prj/vivado.log
cnn_core_prj/vitis_hls.log

# Vitis HLS project - large generated artifacts (not worth committing)
# Keep: hls.app, solution*.aps, solution*.directive, solution*_data.json,
#        hls_summary.txt, solution*.log, syn/report/*.rpt, sim/report/, ooc_synth/*.rpt
cnn_core_prj/solution*/.autopilot/
cnn_core_prj/solution*/.debug/
cnn_core_prj/solution*/csim/build/
cnn_core_prj/solution*/sim/wrapc/
cnn_core_prj/solution*/sim/wrapc_pc/
cnn_core_prj/solution*/sim/autowrap/
cnn_core_prj/solution*/sim/verilog/
cnn_core_prj/solution*/sim/.sim.status.tcl
cnn_core_prj/solution*/sim/.autosim.status
cnn_core_prj/solution*/syn/verilog/
cnn_core_prj/solution*/syn/vhdl/
cnn_core_prj/solution*/syn/report/*.xml
cnn_core_prj/solution*/ooc_synth/*.dcp