#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!.gitignore
###########################################################################
##	DO NOT IGNORE THE FOLLOWING FILES
###########################################################################
!*.py

!data/
!data/**

!models/
!models/**

!cnn_core/
!cnn_core/**

###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

.DS_Store
**/.DS_Store

###########################################################################
## Generated HLS/Vivado outputs
###########################################################################
# Compiled binaries and local build outputs
cnn_core/build/
cnn_core/**/*.o
cnn_core/**/*.a
cnn_core/**/*.so
cnn_core/**/*.exe

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Xilinx journals and transient databases. Logs and reports are intentionally kept.
cnn_core/**/.Xil/
cnn_core/**/*.jou

# Vitis HLS project: discard reproducible compiler/simulator/IP payloads while
# retaining solution metadata, reports, and every *.log file for diagnosis.
cnn_core/cnn_core_prj/solution*/.autopilot/**
!cnn_core/cnn_core_prj/solution*/.autopilot/
!cnn_core/cnn_core_prj/solution*/.autopilot/**/
!cnn_core/cnn_core_prj/solution*/.autopilot/**/*.log

cnn_core/cnn_core_prj/solution*/.debug/**
!cnn_core/cnn_core_prj/solution*/.debug/
!cnn_core/cnn_core_prj/solution*/.debug/**/
!cnn_core/cnn_core_prj/solution*/.debug/**/*.log

cnn_core/cnn_core_prj/solution*/csim/build/**
!cnn_core/cnn_core_prj/solution*/csim/build/
!cnn_core/cnn_core_prj/solution*/csim/build/**/
!cnn_core/cnn_core_prj/solution*/csim/build/**/*.log

cnn_core/cnn_core_prj/solution*/sim/wrapc/**
!cnn_core/cnn_core_prj/solution*/sim/wrapc/
!cnn_core/cnn_core_prj/solution*/sim/wrapc/**/
!cnn_core/cnn_core_prj/solution*/sim/wrapc/**/*.log

cnn_core/cnn_core_prj/solution*/sim/wrapc_pc/**
!cnn_core/cnn_core_prj/solution*/sim/wrapc_pc/
!cnn_core/cnn_core_prj/solution*/sim/wrapc_pc/**/
!cnn_core/cnn_core_prj/solution*/sim/wrapc_pc/**/*.log

cnn_core/cnn_core_prj/solution*/sim/autowrap/**
!cnn_core/cnn_core_prj/solution*/sim/autowrap/
!cnn_core/cnn_core_prj/solution*/sim/autowrap/**/
!cnn_core/cnn_core_prj/solution*/sim/autowrap/**/*.log

cnn_core/cnn_core_prj/solution*/sim/verilog/**
!cnn_core/cnn_core_prj/solution*/sim/verilog/
!cnn_core/cnn_core_prj/solution*/sim/verilog/**/
!cnn_core/cnn_core_prj/solution*/sim/verilog/**/*.log

cnn_core/cnn_core_prj/solution*/syn/verilog/**
!cnn_core/cnn_core_prj/solution*/syn/verilog/
!cnn_core/cnn_core_prj/solution*/syn/verilog/**/
!cnn_core/cnn_core_prj/solution*/syn/verilog/**/*.log

cnn_core/cnn_core_prj/solution*/syn/vhdl/**
!cnn_core/cnn_core_prj/solution*/syn/vhdl/
!cnn_core/cnn_core_prj/solution*/syn/vhdl/**/
!cnn_core/cnn_core_prj/solution*/syn/vhdl/**/*.log

cnn_core/cnn_core_prj/solution*/impl/**
!cnn_core/cnn_core_prj/solution*/impl/
!cnn_core/cnn_core_prj/solution*/impl/**/
!cnn_core/cnn_core_prj/solution*/impl/verilog/**
!cnn_core/cnn_core_prj/solution*/impl/vhdl/**
!cnn_core/cnn_core_prj/solution*/impl/**/*.log

cnn_core/cnn_core_prj/solution*/sim/.sim.status.tcl
cnn_core/cnn_core_prj/solution*/sim/.autosim.status
cnn_core/cnn_core_prj/solution*/ooc_synth/*.dcp
